pkgbase = tuiodo
	pkgdesc = A modern terminal task manager with extensive customization
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/spmfte/tuiodo
	arch = x86_64
	license = MIT
	makedepends = go
	source = tuiodo-1.0.0.tar.gz::https://github.com/spmfte/tuiodo/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = tuiodo 